

<div>
<div class="txt-sec">
    <h3>DEVELOP ACROSS ALL PLATFORMS</h3>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aut consequuntur deleniti, 
    voluptatem velit dolorem similique quos maiores itaque, hic est? Voluptatum tempora ab quia, consequuntur ea cum enim ullam?</P>
    
    <button type="button" class="btn1">Learn More</button>
    
</div>

<div class="txt-sec1">
    <h3>DEVELOP ACROSS ALL PLATFORMS</h3>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aut consequuntur deleniti, 
    voluptatem velit dolorem similique quos maiores itaque, hic est? Voluptatum tempora ab quia, consequuntur ea cum enim ullam?</P>
    
    <button type="button" class="btn2">Learn More</button>
    
</div>

</div>
<div class="clear"></div>