.txt-sec{
    background-color: #fff;
    width: 48%;
    margin: 10px 5px;
    padding: 10px;
    float: left;
    
}

.txt-sec h3{
    color: #53a3fd;    
}

.txt-sec p{
    color: #858585;
    font-size: 16px;
    padding: 10px 0;
    line-height: 30px;
}

.btn1{
    color: white;
    border-radius: 50px;
    background-color: #53a3fd;
    padding: 10px 15px;
    float: right;
    border: none;
    
}

.btn1:hover{
    background: #000;
}

.txt-sec1{
    background-color: #fff;
    width: 48%;
    margin: 10px 5px;
    padding: 10px;
    float: right;
}

.txt-sec1 h3{
    color: #f0003a;    
}

.txt-sec1 p{
    color: #858585;
    font-size: 16px;
    padding: 10px 0;
    line-height: 30px;
}

.btn2{
    color: white;
    border-radius: 50px;
    background-color: #f0003a;
    padding: 10px 15px;
    float: right;
    border: none;
}

.btn2:hover{
    background: #000;
}

.clear{
    clear: both;
}